* {
  box-sizing: border-box;
}
  .header {
    background-color:skyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100vw;
    &__logo {
      font-size: 60px;
    }
    &__user {
      display: flex;
      &__login {
        margin-right: 20px;
      }
    }
  }
  
  .main {
    background-color: beige;
    padding: 50px;
    width: 100vw;;
    &__contents {
      padding: 10px;
      &__content {
        width: calc(100vw - 170px);
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 30px;
        &__choice {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;
          &__text {
            width: calc(80%);
            background-color: snow;
            border-radius: 20px;
            padding-left: 10px;
          }
        }
        &__info {
          text-align: right;
          font-size: 15px;
        }
      }
      
    }
  }